#* Example ENV File, please change these credentials
MYSQL_ROOT_PASSWORD='mysql_root_pass' 
DB_HOST='mariadb'
DB_NAME='test'
DB_USER='data_miner'
DB_PASSWORD='SuperSecurePassw0rd!'

#* Have I Been Pwned (HIBP) API Key 
HIBP_KEY=''

#* Openvas
OPENVAS_USER='admin'
OPENVAS_PASS='admin'