DARKSTAR_URL='https://darkstar.example'
DARKSTAR_ORG='org_example'
# Fill this only for first registration, then rotate/remove it after enrollment.
DARKSTAR_ENROLLMENT_TOKEN=''
DARKSTAR_AGENT_TOKEN=''
DARKSTAR_INTERVAL_SECONDS='3600'
DARKSTAR_STATE_FILE='/var/lib/darkstar-endpoint/agent.json'
ENDPOINT_NETWORK_PROBE_MAX_TARGETS='48'
